* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cocktail-board {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  -ms-flex-pack: distribute;
}